downloads/
uploads/
sessions.json
passwords_override.json

# Server-Backups und temporäre Dateien
server.js.backup_*
*.backup_*
vhs-pr-maschine-update.zip
users.json
FORCE_UPDATE.bat
update.ps1
update2.ps1
gitignore
